<div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                {{#if message}}
                <h4 class="aleart aleart-danger mt-4" style="color: red;">{{message}}</h4>
                {{/if}}
            <form class="form-signin" action="" method="POST" style="font-size:20px;">
                <span id="reauth-email" class="reauth-email"></span>
                <input type="text"  class="form-control" placeholder="Gmail" required autofocus name="gmail">
                <p></p>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required name="password">
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" name="submit" style="font-size:15px;margin-top:10px;">Login</button>

                
            </form>
            <p style="font-size:15px;margin-top:10px;">
            Haven't registered an account yet ?
            <a href="/user/signup" class="forgot-password" style="font-size:15px;">
                 Sign up account.
            </a>
            </p>
</div>
<div class="col-md-4"></div>
</div>
</div> 