
    <div class="container" style="height:450px">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8" style="text-align: center;">
                <br>
                <br>
           <h1 style="color: Blue;">You have completed the survey</h1>
           <a href="question/show?page=1"><button type="button" class="btn btn-success btn-lg mb-1 buttonS" style="margin-top:20px;">Review survey</button>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>




 