
 <div class="row" style="height:400px">
    <div class="col-md-2"></div>
    <div class="col-md-8" style="margin:0px;padding:0px;">
        <h1 style="color: blue;">Congratulations, you have completed the survey.</h1><br>
        <h2>Total number of correct answers : {{result}} / {{total}}</h2><br>
        <h2>Total score : {{score}}</h2>
    </div>
    <div class="col-md-2">
    <a><button type="button" class="btn btn-success btn-lg mb-1 buttonS" style="margin-top:20px;">Review survey</button>
    </a>
    </div>
</div>