<footer style="margin-top: 40px;">
      <div style="">
      <div class="wthree_footer_copy" style="margin-top: 0px;">
            <marquee loop="50" scrollamount="6" onmouseover="this.stop()" onmouseout="this.start()" scrollamount="2" style="background:orange;font-size:25px;color:black;">© 2021 | fpt | Thiết kế bởi <a href="">trong dac</a></marquee>
      </div>
      </div> 
</footer>